*~
_*
*.o
*.d
*.asm
*.sym
*.img
Assignment 3/Test/
Assignment 3/Handin/1900094810-WebLab3/agent
Assignment 3/Handin/1900094810-WebLab3/router
Assignment 3/Handin/1900094810-WebLab3/topology.txt
Assignment 3/Handin/1900094810-WebLab3/location.txt
